
.about-section{

    background: url('/assets/images/aboutbg.png');
    background-blend-mode: overlay;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .square-border-img {
        .border {

            border-width: 4px !important;
            width: fit-content;
            margin-bottom: 65px;

            img {
                position: relative;
                margin: 31px -54px -35px 37px;
            }
        }

    }
    @media screen and (max-width:991px) {
        .square-border-img {
            width: 85%;
        }
    }
}


.why-choose-us{
p{
    padding-left: 10rem;
    padding-right: 10rem;
}

.card{
    h3{
        font-size: 30px;
    }
    img{
        height: 75px;
        width: 75px;
    }
}

@media screen and (max-width:991.5px) {
    p{
        padding-left: 0;
        padding-right: 0;
    }
}

}


.our-mission{
    padding-bottom: 200px !important;
}
@media screen and (max-width:576.5px) {
    .our-mission{
        padding-bottom: 239px !important;
    }
}

@media screen and (max-width: 371.5px){
    .our-mission{
        padding-bottom: 260px !important;
    }
}
