.categories-section{
background-image: url('/assets/images/lowpolly-background.png');
background-position: center center ;
background-repeat: no-repeat;
background-size: cover;
.img-wrap {
    background: #e1e1e1;
    // height: 300px;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    img {
        // max-height: 300px;
        height: 250px;
    }
}
}

.find-ans{
    padding-bottom: 200px !important;
    .btn{
        font-size: 20px !important;
    }
}

@media screen and (max-width:576.5px) {
    .find-ans{
        padding-bottom: 239px !important;
    }
}
