.why-choose{
    h1{
        padding-right: 10%;
        @media screen and (max-width:1199.5px) {
            padding-right: 0%;
        }
    }
i{
    font-size: 22px;
}
.pb-100{
    padding-bottom: 165px;
}
.pt-100{
    padding-top: 100px;
}
img{
    // height: 80%;
    width: 100%;
}

// @media screen and (max-width:991.5) and (min-width:678.5px) {
//     .pb-100{
//         padding-bottom: 100px !important;
//     }
// }
}
