footer {
    opacity: .95;

    ul {
        padding-left: 0 !important;

        li {
            padding: 8px 0;
        }
    }

    .social-links {
        i {
            background: $white;
            border-radius: 5px;
            height: 23px;
            width: 23px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    a {
        color: white;
    }

    a:hover {
        color: $secondary;
        cursor: pointer;
    }
}
