.nav-top {
    .navbar {
        p {
            font-size: 15px;
        }
    }
}

.main-menu {
    .navbar-expand-lg {
        .navbar-nav {
            .nav-link {
                padding-right: 1rem !important;
                padding-left: 1rem !important;
                color: $black;
                font-size: 18px;
                font-weight: 500 !important;
            }

            .dropdown-toggle {
                &::after {
                    border-top: 0.3em solid $primary !important;
                    margin-left: 0;
                }
            }

            .dropdown-menu {

                .dropdown-item {
                    &:active {
                        color: $white !important;
                    }
                }
            }




        }
    }
}

// @media screen and (max-width:1199.5px) {
//     .main-menu {
//         .navbar-expand-lg {
//             .navbar-nav {
//                 .nav-link {
//                     padding-right: .5rem !important;
//                     padding-left: .5rem !important;
//                 }
//             }
//         }
//     }
// }
