.lang_urdu {

    .me-5 {
        margin-left: 3rem !important;
        margin-right: 0 !important;
    }

    .me-lg-5 {
        margin-left: 3rem !important;
        margin-right: 0 !important;
    }

    .me-md-5 {
        margin-left: 3rem !important;
        margin-right: 0 !important;
    }

    .me-4 {
        margin-left: 1.5rem !important;
        margin-right: 0 !important;
    }

    .me-lg-4 {
        margin-left: 1.5rem !important;
        margin-right: 0 !important;
    }

    .me-md-4 {
        margin-left: 1.5rem !important;
        margin-right: 0 !important;
    }

    .me-3 {
        margin-left: 1rem !important;
        margin-right: 0 !important;
    }

    .me-lg-3 {
        margin-left: 1rem !important;
        margin-right: 0 !important;
    }

    .me-md-3 {
        margin-left: 1rem !important;
        margin-right: 0 !important;
    }

    .me-2 {
        margin-left: .5rem !important;
        margin-right: 0 !important;
    }

    .me-lg-2 {
        margin-left: .5rem !important;
        margin-right: 0 !important;
    }

    .me-md-2 {
        margin-left: .5rem !important;
        margin-right: 0 !important;
    }

    .me-1 {
        margin-left: .25rem !important;
        margin-right: 0 !important;
    }

    .me-lg-1 {
        margin-left: .25rem !important;
        margin-right: 0 !important;
    }

    .me-md-1 {
        margin-left: .25rem !important;
        margin-right: 0 !important;
    }

    .me-0 {
        margin-left: 0rem !important;
        margin-right: 0 !important;
    }

    .me-lg-0 {
        margin-left: 0rem !important;
        margin-right: 0 !important;
    }

    .me-md-0 {
        margin-left: 0rem !important;
        margin-right: 0 !important;
    }

    .me-auto {
        margin-left: auto !important;
        margin-right: 0 !important;
    }

    .me-lg-auto {
        margin-left: auto !important;
        margin-right: 0 !important;
    }

    .me-md-auto {
        margin-left: auto !important;
        margin-right: 0 !important;
    }

    .pe-5 {
        padding-left: 3rem !important;
        padding-right: 0 !important;
    }

    .pe-lg-5 {
        padding-left: 3rem !important;
        padding-right: 0 !important;
    }

    .pe-md-5 {
        padding-left: 3rem !important;
        padding-right: 0 !important;
    }

    .pe-4 {
        padding-left: 1.5rem !important;
        padding-right: 0 !important;
    }

    .pe-lg-4 {
        padding-left: 1.5rem !important;
        padding-right: 0 !important;
    }

    .pe-md-4 {
        padding-left: 1.5rem !important;
        padding-right: 0 !important;
    }

    .pe-3 {
        padding-left: 1rem !important;
        padding-right: 0 !important;
    }

    .pe-lg-3 {
        padding-left: 1rem !important;
        padding-right: 0 !important;
    }

    .pe-md-3 {
        padding-left: 1rem !important;
        padding-right: 0 !important;
    }

    .pe-2 {
        padding-left: .5rem !important;
        padding-right: 0 !important;
    }

    .pe-lg-2 {
        padding-left: .5rem !important;
        padding-right: 0 !important;
    }

    .pe-md-2 {
        padding-left: .5rem !important;
        padding-right: 0 !important;
    }

    .pe-1 {
        padding-left: .25rem !important;
        padding-right: 0 !important;
    }

    .pe-lg-1 {
        padding-left: .25rem !important;
        padding-right: 0 !important;
    }

    .pe-md-1 {
        padding-left: .25rem !important;
        padding-right: 0 !important;
    }

    .pe-0 {
        padding-left: 0rem !important;
        padding-right: 0 !important;
    }

    .pe-lg-0 {
        padding-left: 0rem !important;
        padding-right: 0 !important;
    }

    .pe-md-0 {
        padding-left: 0rem !important;
        padding-right: 0 !important;
    }

    .pe-auto {
        padding-left: auto !important;
        padding-right: 0 !important;
    }

    .pe-lg-auto {
        padding-left: auto !important;
        padding-right: 0 !important;
    }

    .pe-md-auto {
        padding-left: auto !important;
        padding-right: 0 !important;
    }


    .ms-5 {
        margin-right: 3rem !important;
        margin-left: 0 !important;
    }

    .ms-lg-5 {
        margin-right: 3rem !important;
        margin-left: 0 !important;
    }

    .ms-md-5 {
        margin-right: 3rem !important;
        margin-left: 0 !important;
    }

    .ms-4 {
        margin-right: 1.5rem !important;
        margin-left: 0 !important;
    }

    .ms-lg-4 {
        margin-right: 1.5rem !important;
        margin-left: 0 !important;
    }

    .ms-md-4 {
        margin-right: 1.5rem !important;
        margin-left: 0 !important;
    }

    .ms-3 {
        margin-right: 1rem !important;
        margin-left: 0 !important;
    }

    .ms-lg-3 {
        margin-right: 1rem !important;
        margin-left: 0 !important;
    }

    .ms-md-3 {
        margin-right: 1rem !important;
        margin-left: 0 !important;
    }

    .ms-2 {
        margin-right: .5rem !important;
        margin-left: 0 !important;
    }

    .ms-lg-2 {
        margin-right: .5rem !important;
        margin-left: 0 !important;
    }

    .ms-md-2 {
        margin-right: .5rem !important;
        margin-left: 0 !important;
    }

    .ms-1 {
        margin-right: .25rem !important;
        margin-left: 0 !important;
    }

    .ms-lg-1 {
        margin-right: .25rem !important;
        margin-left: 0 !important;
    }

    .ms-md-1 {
        margin-right: .25rem !important;
        margin-left: 0 !important;
    }

    .ms-0 {
        margin-right: 0rem !important;
        margin-left: 0 !important;
    }

    .ms-lg-0 {
        margin-right: 0rem !important;
        margin-left: 0 !important;
    }

    .ms-md-0 {
        margin-right: 0rem !important;
        margin-left: 0 !important;
    }

    .ms-auto {
        margin-right: auto !important;
        margin-left: 0 !important;
    }

    .ms-lg-auto {
        margin-right: auto !important;
        margin-left: 0 !important;
    }

    .ms-md-auto {
        margin-right: auto !important;
        margin-left: 0 !important;
    }

    .ps-5 {
        padding-right: 3rem !important;
        padding-left: 0 !important;
    }

    .ps-lg-5 {
        padding-right: 3rem !important;
        padding-left: 0 !important;
    }

    .ps-md-5 {
        padding-right: 3rem !important;
        padding-left: 0 !important;
    }

    .ps-4 {
        padding-right: 1.5rem !important;
        padding-left: 0 !important;
    }

    .ps-lg-4 {
        padding-right: 1.5rem !important;
        padding-left: 0 !important;
    }

    .ps-md-4 {
        padding-right: 1.5rem !important;
        padding-left: 0 !important;
    }

    .ps-3 {
        padding-right: 1rem !important;
        padding-left: 0 !important;
    }

    .ps-lg-3 {
        padding-right: 1rem !important;
        padding-left: 0 !important;
    }

    .ps-md-3 {
        padding-right: 1rem !important;
        padding-left: 0 !important;
    }

    .ps-2 {
        padding-right: .5rem !important;
        padding-left: 0 !important;
    }

    .ps-lg-2 {
        padding-right: .5rem !important;
        padding-left: 0 !important;
    }

    .ps-md-2 {
        padding-right: .5rem !important;
        padding-left: 0 !important;
    }

    .ps-1 {
        padding-right: .25rem !important;
        padding-left: 0 !important;
    }

    .ps-lg-1 {
        padding-right: .25rem !important;
        padding-left: 0 !important;
    }

    .ps-md-1 {
        padding-right: .25rem !important;
        padding-left: 0 !important;
    }

    .ps-0 {
        padding-right: 0rem !important;
        padding-left: 0 !important;
    }

    .ps-lg-0 {
        padding-right: 0rem !important;
        padding-left: 0 !important;
    }

    .ps-md-0 {
        padding-right: 0rem !important;
        padding-left: 0 !important;
    }

    .ps-auto {
        padding-right: auto !important;
        padding-left: 0 !important;
    }

    .ps-lg-auto {
        padding-right: auto !important;
        padding-left: 0 !important;
    }

    .ps-md-auto {
        padding-right: auto !important;
        padding-left: 0 !important;
    }

    .dropdown-menu-end{
        right: auto !important;
    left: 0 !important;
    }

    .border-end{
        border-right:0px !important;
        border-left:2px solid #dee2e6;
    }


    // .justify-content-lg-start {
    //     justify-content: flex-end !important;
    // }

    // .justify-content-lg-end {
    //     justify-content: flex-start !important;
    // }

    // .justify-content-md-start {
    //     justify-content: flex-end !important;
    // }

    // .justify-content-md-end {
    //     justify-content: flex-start !important;
    // }

    // .justify-content-start {
    //     justify-content: flex-end !important;
    // }

    // .justify-content-end {
    //     justify-content: flex-start !important;
    // }
    .shape{
        left: 11px;
        right: auto !important;
    }
    .border-end-c {
        border-left: 2px solid #dee2e6;
        border-right: 0px solid transparent !important;
    }
    .fa-angles-right,.fa-angles-left,.fa-arrow-right,.fa-arrow-right-long,.fa-caret-right{
        transform: rotate(180deg);
    }
    .consultant-services{
        .fa-phone{
            transform: rotate(245deg);
        }
    }


    ul{
        padding-right: 0px;
    }
    .newsletter-section {
        .subscription-section{
            .form-newsletter {
                i {
                left: 13px;
                top: 17px;
                right: auto;
                }
        }
    }
}

.services-section{
    .consultant-services{
        background: url('/assets/images/call-us-banner-rtl.png');
        background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    }
    @media screen and (max-width:991.5px) {
        .consultant-services {
            background: url('/assets/images/call-us.png');
            background-repeat: no-repeat;
            background-size: cover;
            // background-position: center;
        }
    }
}
.header-categories{
    .search-topic{
        background: url('/assets/images/call-us-banner-rtl.png');
        background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    .search-icon{
        h3{
            left: 18px;
            right: auto !important;
        }
    }
    }


}
.become-consultant{
    .rtl-img{
        display: flex;
        justify-content: flex-end;
        .square-border-img {
            .border img {
                position: relative;
                margin: 31px -36px -35px 37px;
            }
        }

    }
    @media screen and (min-width:992px) {
        .pc-lg-5{
            padding-right: 3rem !important;
        }
    }
}
.mentor-profile {
    ul{
        padding-right: 2rem;
    }
    .schedule-appointment{
        .nav-link {
            border-radius: 0px 10px 10px 0px !important;
        }
        .end-0{
            right: auto !important;
            left: 0;
        }
        .schedule-tabs{
            .schedule-border{
                .mr-custom {
                    margin-left: 110px;
                    margin-right: 0 !important;
                }

                @media screen and (max-width:767px) {
                    .mr-custom{
                        margin-left: 68px;
                        margin-right: 0 !important;
                    }
                }
            }
        }
    }
}
.appointment-log{
    .search-icon{
        i {
            left: 13px;
            right: auto !important;
        }
    }
}

.wallet{
    .wallet-btn{
        margin-left: 20px;
    }
}

.reviews{
    .ps-0{
        padding-left: 0px !important;
        padding-right: 1rem !important;
    }
}

.about-section{
    .rtl-img{
        display: flex;
        justify-content: flex-end;
        .square-border-img {
            .border img {
                position: relative;
                margin: 31px -36px -35px 37px;
            }
        }
}

}

.viewquestions {
    .accordion-header{
        position: relative;
        .accordion-button{
            position: relative;
            &::after{
                position: absolute;
            left: 0;
            }
        }
    }
    .accordion-body {
        padding: 1rem 1.25rem 1rem 12%;
    }
}
.consultant-section{
.filter{
    .accordion-header{
        position: relative;
        .accordion-button{
            position: relative;
            &::after{
                position: absolute;
            left: 16px;
            }
        }
    }
}
}

.appointment-screen{
    .appointment-pills {
        .nav-pills {
            .nav-link {
                &.active {

                    &:after {
                        left: -24px;
                        right: auto;
                        transform: rotate(180deg);

                    }

}
            }
        }
    }
}

.book-appointment{
    .text-lg-start{
        text-align: right !important;
    }
}

.chat{
    direction: ltr !important;
}
@media  (min-width:767.5px) and (max-width:991.5px) {
    .clients-slick .slick-dots {
        display: none !important;
    }
}

}

